page-aluno {

    .hide {
        display: none;
      }

      .new-background {
        background-color: blue;
      }

      .error{
        color: #ff0000;
        font-size: 12px;
      }
      
}

page-pesquisa-aluno {
  .hide {
    display: none;
  }
}
